
/*----------------------------------------- Colors*/


/*----------------------------------------- Header*/

body {
    font-family: 'Open sans', sans-serif;
}



.navbar-brand {
    padding: 0;
    margin: 0;
}

.navbar-nav {
    margin: 0 0 0 auto;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    padding-bottom: 0;

}

#navbar {
    padding: 0;
    margin: 0;
}

.navbar .nav-item a {
    color: #99c455 !important;
    padding-top: 56px;

}

.navbar .nav-item a:hover {
    color: #fafafa !important;
    background-color: #99c455;
}

.nav-link {

    height: 137px;
    padding-bottom: 0;
 
}

/*----------------------------------------- Banner*/


.carousel-item .img-first {
    object-fit: fill;
}


/*----------------------------------------- Footer*/

.footer-seperator {
    background-color: #686767;
    height: 12px;
    width: 100%;
}

footer {
    height: 100px;
    width: 100%;
    background-color:#99c455;
}

/* 
img .footer-logo {
    height: 16px;
    width: 18px;
}
Temporarily styled inline
*/

footer p {
    padding-top: 20px;
    text-decoration: underline;
}

/*----------------------------------------- contact page*/

 img .silks-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 200px;
}

form {
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.contact-form {
    padding-bottom: 50px;
    max-width: 50%;
}

.contact-form h2 {
    text-align: center;
}

